/.DS_Store
/terraform-smartshare-cc9d55c80967.json
.terraform/plugins/darwin_amd64/lock.json
.terraform/plugins/darwin_amd64/terraform-provider-google_v3.33.0_x5
.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.70.0_x4
.terraform/plugins/darwin_amd64/terraform-provider-null_v2.1.2_x4
terraform.tfstate.d/*
